# Introducción a Pandas.

[Pandas](https://pandas.pydata.org/docs/) es una biblioteca que proporciona estructuras de datos y herramientas de análsis de alto rendimiento y faciles de usar.
* La estructura de datos principal es el DataFrame, que puede considerarse como una tabla 2D en memoria (como una hoja de cálculo, nombres de columna y etiquetas de fila).
* Muchas funciones disponibles en Excel estan disponibles mediante programación, como crear las tablas dinámicas, calcular columnas basadas en otras columnas, trazar gráficos, etc.
* Proporciona un alto rendimiento para manipular (unir, dividir, modificar, etc.) grandes volumenes de datos.

 ## Import

In [1]:
import pandas as pd

### Estructuras de datos en Pandas

La biblioteca Pandas, de manera genérica, contiene las siguientes estructuras de datos:
* **Series**: Array de una dimensión.
* **DataFrame**: Se corresponde con una tabla de dos dimensiones.
* **Panel**: Similar a un diccionario da DataFrames.

### Creación del objeto Series

In [4]:
# Creacion del objeto Series.
s = pd.Series([2,4,6,8,10])
print(s)

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [7]:
# Creación de objeto series e inicializarlo con un diccionario de Python.
Altura = {
    "Emilio": 169,
    "Anel": 145,
    "Chucho":170,
    "Jocelin":170,
}
s = pd.Series(Altura)
print(s)

Emilio     169
Anel       145
Chucho     170
Jocelin    170
dtype: int64

In [8]:
# Creación de un objeto series e inicializarlo con algunos elementos de un diccionario de python.
Altura = {
    "Emilio": 169,
    "Anel": 145,
    "Chucho":170,
    "Jocelin":170,
}
s = pd.Series(Altura, index = ["Jocelin","Emilio"])
print(s)

Jocelin    170
Emilio     169
dtype: int64

In [9]:
# Creación de un objeto Series e inicializarlo con un escalar.
s = pd.Series(34,["Num1","Num2", "Num3", "Num4"])
print(s)

Num1    34
Num2    34
Num3    34
Num4    34
dtype: int64

### Acceso a los elementos de un Array
Cada elemento en un objeto Series tiene un identificador que se donomina **index label**

In [12]:
# Crear un objeto Series
s = pd.Series([2,4,6,8,], index = ["Num1", "Num2", "Num3", "Num4"])
print(s)

Num1    2
Num2    4
Num3    6
Num4    8
dtype: int64